<!--

<div class="container">
  <div class="row">
    <div class="col">

      <div class="card text-bg-light my-3">
        <div class="card-header">Profile</div>


          <div class="mt-3">
            <img src="{{profilePictureUrl}}" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;">

          </div>


        <div class="card-body">

          @if (message) {
            <div class="alert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'danger', 'alert-warning': alertType === 'warning'}">
              <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
              {{ message }}
            </div>
          }

          <form class="row g-3 needs-validation" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="col-md-4">
              <label for="first_name" class="form-label">First name</label>
              <input type="text" class="form-control" id="first_name" formControlName="first_name"
              [ngClass]="{'is-invalid': hasErrors('first_name', 'required') || hasErrors('first_name', 'pattern') || hasErrors('first_name', 'minlength')}">
              @if (hasErrors('first_name', 'required')) { <span class="text-danger">First name is required.</span> }
              @if (hasErrors('first_name', 'pattern')) { <span class="text-danger">Invalid first name format.</span> }
              @if (hasErrors('first_name', 'minlength')) { <span class="text-danger">First name must be at least 3 characters long.</span> }
            </div>
            <div class="col-md-4">
              <label for="last_name" class="form-label">Last name</label>
              <input type="text" class="form-control" id="last_name" formControlName="last_name"
              [ngClass]="{'is-invalid': hasErrors('last_name', 'required') || hasErrors('last_name', 'pattern') || hasErrors('last_name', 'minlength')}">
              @if (hasErrors('last_name', 'required')) { <span class="text-danger">Last name is required.</span> }
              @if (hasErrors('last_name', 'pattern')) { <span class="text-danger">Invalid last name format.</span> }
              @if (hasErrors('last_name', 'minlength')) { <span class="text-danger">Last name must be at least 3 characters long.</span> }
            </div>
            <div class="col-md-4">
              <label for="birth_date" class="form-label">Birth Date</label>
              <input type="date" class="form-control" id="birth_date" formControlName="birth_date"
              [ngClass]="{'is-invalid': hasErrors('birth_date', 'required') || hasErrors('birth_date', 'minimumAge')}">
              @if (hasErrors('birth_date', 'required')) { <span class="text-danger">Birth date is required.</span> }
              @if (hasErrors('birth_date', 'minimumAge')) { <span class="text-danger">You must be at least 18 years old.</span> }
            </div>
            <div class="col-md-4">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" formControlName="city"
              [ngClass]="{'is-invalid': hasErrors('city', 'pattern') || hasErrors('city', 'minlength')}">
              @if (hasErrors('city', 'pattern')) { <span class="text-danger">Invalid last name format.</span> }
              @if (hasErrors('city', 'minimumAge')) { <span class="text-danger">Last name must be at least 3 characters long.</span> }
            </div>
            <div class="col-md-4">
              <label for="country" class="form-label">country</label>
              <input type="text" class="form-control" id="country" formControlName="country"
              [ngClass]="{'is-invalid': hasErrors('country', 'pattern') || hasErrors('country', 'minlength')}">
              @if (hasErrors('country', 'pattern')) { <span class="text-danger">Invalid last name format.</span> }
              @if (hasErrors('country', 'minlength')) { <span class="text-danger">Last name must be at least 3 characters long.</span> }
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Update Profile</button>
            </div>
          </form>

          <div class="form-group mt-4">
            <label for="file">Profile Picture</label>
            <input type="file" id="file" (change)="onFileChanged($event)" class="form-control">
            <div class="d-flex">
              <button (click)="onUpload()" class="btn btn-secondary mt-3">Upload Photo</button>
            @if (profilePictureUrl !== '/assets/facebookanonimo.jpg') {
              <button (click)="deletePhoto()" class="btn btn-danger mt-3 ms-2">Delete Photo</button>
            }
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <div class="card text-bg-light my-3">
        <div class="row g-0">
          <div class="card-header">Profile</div>
          <div class="col-md-4 d-flex align-items-start justify-content-center">
            <img src="{{profilePictureUrl}}" alt="Profile Picture" class="img-thumbnail">
          </div>
          <div class="col-md-8">

            <div class="card-body">
              @if (message) {
                <div class="alert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'danger', 'alert-warning': alertType === 'warning'}">
                  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
                  {{ message }}
                </div>
              }

              <form class="row g-3 needs-validation" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                  <label for="first_name" class="form-label">First name</label>
                  <input type="text" class="form-control" id="first_name" formControlName="first_name"
                  [ngClass]="{'is-invalid': hasErrors('first_name', 'required') || hasErrors('first_name', 'pattern') || hasErrors('first_name', 'minlength')}">
                  @if (hasErrors('first_name', 'required')) { <span class="text-danger">First name is required.</span> }
                  @if (hasErrors('first_name', 'pattern')) { <span class="text-danger">Invalid first name format.</span> }
                  @if (hasErrors('first_name', 'minlength')) { <span class="text-danger">First name must be at least 3 characters long.</span> }
                </div>
                <div class="col-md-6">
                  <label for="last_name" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="last_name" formControlName="last_name"
                  [ngClass]="{'is-invalid': hasErrors('last_name', 'required') || hasErrors('last_name', 'pattern') || hasErrors('last_name', 'minlength')}">
                  @if (hasErrors('last_name', 'required')) { <span class="text-danger">Last name is required.</span> }
                  @if (hasErrors('last_name', 'pattern')) { <span class="text-danger">Invalid last name format.</span> }
                  @if (hasErrors('last_name', 'minlength')) { <span class="text-danger">Last name must be at least 3 characters long.</span> }
                </div>
                <div class="col-md-6">
                  <label for="birth_date" class="form-label">Birth Date</label>
                  <input type="date" class="form-control" id="birth_date" formControlName="birth_date"
                  [ngClass]="{'is-invalid': hasErrors('birth_date', 'required') || hasErrors('birth_date', 'minimumAge')}">
                  @if (hasErrors('birth_date', 'required')) { <span class="text-danger">Birth date is required.</span> }
                  @if (hasErrors('birth_date', 'minimumAge')) { <span class="text-danger">You must be at least 18 years old.</span> }
                </div>
                <div class="col-md-6">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" id="city" formControlName="city"
                  [ngClass]="{'is-invalid': hasErrors('city', 'pattern') || hasErrors('city', 'minlength')}">
                  @if (hasErrors('city', 'pattern')) { <span class="text-danger">Invalid city format.</span> }
                  @if (hasErrors('city', 'minlength')) { <span class="text-danger">City name must be at least 3 characters long.</span> }
                </div>
                <div class="col-md-6">
                  <label for="country" class="form-label">Country</label>
                  <input type="text" class="form-control" id="country" formControlName="country"
                  [ngClass]="{'is-invalid': hasErrors('country', 'pattern') || hasErrors('country', 'minlength')}">
                  @if (hasErrors('country', 'pattern')) { <span class="text-danger">Invalid country format.</span> }
                  @if (hasErrors('country', 'minlength')) { <span class="text-danger">Country name must be at least 3 characters long.</span> }
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Update Profile</button>
                </div>
              </form>

              <div class="form-group mt-4">
                <label for="file">Profile Picture</label>
                <input type="file" id="file" (change)="onFileChanged($event)" class="form-control">
                <div class="d-flex">
                  <button (click)="onUpload()" class="btn btn-secondary mt-3">Upload Photo</button>
                  @if (profilePictureUrl !== '/assets/facebookanonimo.jpg') {
                    <button (click)="deletePhoto()" class="btn btn-danger mt-3 ms-2">Delete Photo</button>
                  }
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>




