<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">

      <div class="card text-bg-dark my-3">
        <div class="card-header">Login</div>
        <div class="card-body">
          @if (message) {
            <div class="alert alert-danger" >
              <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
              {{ message }}
            </div>
          }

          <form class="row g-3 needs-validation" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email"
              [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}">
              @if (hasErrors('email', 'required')) { <span class="text-danger">Email is required.</span> }
              @if (hasErrors('email', 'email')) { <span class="text-danger">Invalid email format.</span> }
            </div>
            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password"
              [ngClass]="{'is-invalid': hasErrors('password', 'required') || hasErrors('password', 'minlength')}">
              @if (hasErrors('password', 'required')) { <span class="text-danger">Password is required.</span> }
              @if (hasErrors('password', 'minlength')) { <span class="text-danger">Password must be at least 5 characters long.</span> }
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Login!</button>
            </div>

            <div class="mt-2 info">Not a member? <a routerLink="/register" > Register</a></div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>
