<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/stadium-709180_1280.jpg" class="d-block mx-lg-auto img-fluid" alt="stadium" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">"JOIN CHAMPIONS TRAVELS!!!"</h1>
      <p class="lead">"¡Vive la emoción de la Liga de Campeones como nunca antes! Participa en eventos exclusivos, conoce a aficionados de toda Europa y comparte tu pasión por el fútbol. Descubre nuevas ciudades, haz nuevos amigos y crea recuerdos inolvidables. No pierdas la oportunidad de ser parte de nuestra comunidad - ¡regístrate ahora!"</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/register">Register</button>
      </div>
    </div>
  </div>

</div>

