.hero-section {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-section {
  height: 80vh;
}

.hero-image {
  max-width: 80%;
  border-radius: 15px;
}

.hero-text {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Georgia', serif;
}

.btn-custom-primary {
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
}

.btn-custom-primary:hover {
  background-color: #ffc107;
}

.about-section {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

