

<div class="container">
  <div class="hero-section d-flex align-items-center justify-content-center mt-2 mt-md-5">
    <div class="row w-100">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="/assets/logo.webp" class="img-fluid hero-image" alt="Football Travel Logo">
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center justify-content-center text-center">
        <h2 class="hero-text">"Football is the most important of the unimportant things."</h2>
        <button class="btn btn-custom-primary mt-3 scroll-button" (click)="scrollToAbout()">
          About Us
        </button>
      </div>
    </div>
  </div>

  <div id="about" class="about-section container mt-3">
    <h2>About Us</h2>
    <p>
      Welcome to Football Travel 2024! Our mission is to bring football enthusiasts together from all around the world.
      Join us for exciting events, meet new friends, and share your passion for football. Whether you're a player, a fan,
      or simply love the sport, our community is the perfect place for you.
    </p>
    <p>
      We organize events, matches, and social gatherings to celebrate the beautiful game. Our platform allows you to find
      and participate in football events near you, connect with like-minded people, and stay updated on the latest football
      news and trends.
    </p>
  </div>

</div>







