@if (user) {
  <div class="container mt-5">
    <div class="card w-100 profile-card" style="max-width: 800px;">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img [src]="user.profile_picture ? user.profile_picture : '/assets/facebookanonimo.jpg'" class="rounded-circle me-3" alt="Profile Picture" width="120" height="120">
          <div>
            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            <p>Birth date: {{user.birth_date}}</p>
            <!-- <p>Email: {{ user.email }}</p> -->
            @if (user.city) {<p>City: {{ user.city }}</p>}
            @if (user.country) {<p>Country: {{ user.country }}</p>}
            @if (user.preferences!.length > 0) {
              <p>Favorite teams: {{user.preferences}}</p>
            }

          </div>
        </div>
      </div>
    </div>

    <div class="mt-4" style="max-width: 800px;">
      <h5>Events</h5>
      <ul class="list-group">
        @for (event of events; track $index) {
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ event['title'] }}
            @if (isAdmin) {
              <button (click)="removeUserFromEvent(event.id)" class="btn btn-sm ">
                <i class="fas fa-user-minus"></i>
              </button>
            }
          </li>
        }

      </ul>
    </div>


  </div>
}

