.full-calendar {
  max-width: 900px;
  margin: 0 auto;
}

.card {
  border-radius: 20px !important;
  background-color: #f8f9fa !important;
}

.card-title {
  color: var(--primary-color) !important;
}

