.footer {
  background-color: var(--background-color) !important ;
  padding: 2rem 0;
  border-top: 2px solid #ffcc00;
}

.footer h5 {
  color: #333;
  font-weight: 600;
}

.footer .form-label {
  color: var(--secondary-color);
}

.footer .btn-custom-primary {
  background-color: #ffcc00 !important;
  color: #ffffff !important;
  border: none !important;
}

.footer .btn-custom-primary:hover {
  background-color: #ffc107 !important;
}

.footer .social-icons .btn {
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.footer .social-icons .btn:hover {
  background-color: var(--secondary-color) !important;
  color: #ffcc00 !important; 
}

.footer p {
  color: #333;
}
